name: build

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  sqlite:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: perl -V
        run: perl -V
      - name: Install dependencies
        run: curl -sL https://git.io/cpm | sudo perl - install -g --with-recommends --with-test --with-configure --show-build-log-on-failure --feature=test_sqlite --feature=test_fork
      - name: Run tests
        run: prove -lr -j4 t

  mysql:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: perl -V
        run: perl -V
      - name: apt-get
        run: sudo apt-get update && sudo apt-get install -y libdbd-mysql-perl mysql-server
      - name: Install dependencies
        run: curl -sL https://git.io/cpm | sudo perl - install -g --with-recommends --with-test --with-configure --show-build-log-on-failure --feature=test_mysql --feature=test_fork
      - name: Run tests
        run: DOD_TEST_DRIVER=MySQL prove -lr -j4 t

  mariadb:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: perl -V
        run: perl -V
      - name: setup mariadb repo
        run: curl -LsS https://downloads.mariadb.com/MariaDB/mariadb_repo_setup | sudo bash
      - name: apt-get
        run: sudo apt-get update && sudo apt-get install -y libmariadb-dev mariadb-server
      - name: Install dependencies
        run: curl -sL https://git.io/cpm | sudo perl - install -g --with-recommends --with-test --with-configure --show-build-log-on-failure --feature=test_mariadb --feature=test_fork
      - name: Run tests
        run: DOD_TEST_DRIVER=MariaDB prove -lr -j4 t

  postgresql:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: perl -V
        run: perl -V
      - name: apt-get
        run: sudo apt-get update && sudo apt-get install -y libdbd-pg-perl postgresql
      - name: Install dependencies
        run: curl -sL https://git.io/cpm | sudo perl - install -g --with-recommends --with-test --with-configure --show-build-log-on-failure --feature=test_postgresql --feature=test_fork
      - name: Run tests
        run: DOD_TEST_DRIVER=PostgreSQL prove -lr -j4 t
